<app-detalle *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></app-detalle>

<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de clientes</h5>
        <div class="my-2 text-left">
            <a class="btn btn-primary btn-rouded" [routerLink]="['/clientes/form']">Crear cliente</a>
        </div>

        <div class="alert alert-info" *ngIf="clientes?.length == 0">
            No hay registros en la base de datos
        </div>

        <table class="table table-bordered table-striped" *ngIf="clientes?.length > 0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>email</th>
                    <th>fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>
                        <img class="img-thumbnail rounded" style="width: 64px; cursor: pointer;" (click)="abrirModal(cliente)" *ngIf="cliente?.foto" src="http://localhost:8081/api/uploads/img/{{cliente.foto}}" alt="http://localhost:8081/api/uploads/img/{{cliente.foto}}">
                        <img class="img-thumbnail rounded" style="width: 64px; cursor: pointer;" (click)="abrirModal(cliente)" *ngIf="!cliente?.foto" src="http://localhost:8081/images/user_icon.png" alt="http://localhost:8081/images/user_icon.png">
                    </td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.createAt | date:'dd/MM/yyyy' }}</td>
                    <td><button class="btn btn-warning text-white" [routerLink]="['/clientes/form/', cliente.id]">Editar</button></td>
                    <td><button class="btn btn-danger text-white" (click)="delete(cliente)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
        <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator>
    </div>
</div>